@page "/mapdetails/{Id:int}"

@using KIT.Models
@using KIT.Services

@inject MapsService MapsService

<a href="/maps">Back to List of Maps</a>

@if (Map is not null)
{
    <h1>@Map.Name</h1>

    <p>@Map.Description</p>

    <code>@Map.Content</code>
}
else
{
    <p>Not found</p>
}


@code {
    [Parameter]
    public int Id { get; set; }

    Map? Map = null;

    protected override async Task OnInitializedAsync()
    {
        Map = await MapsService.GetByIdAsync(Id);
    }
}